@media screen and (max-width:1250px) {
    .main{
        padding: 10px;
    }

    .container-about{
        padding: 10px;
    }

    .video-card{
        grid-column: span 2;
    }
}

@media screen and (max-width:1024px){
    .video-card{
        grid-column: span 3;
        
    }

    .hamburger{
        display: block;
    }
    .logo{
        display: none;
    }

    .navBar{
        padding: 0;
        height: 0;
    }
    .nav-items{
        display: none;
    }
    .nav-items-active{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 60vh;
        position: fixed;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
    }

    .banner-top .right{
        display: none;
    }
    .hero{
        height: 50vh;
    }
    .news-card{
        grid-column: span 2;
    }
    
    .card-container{
        gap: 10px;
    }
    
    .main{
        padding: 10px;
    }

    .container-about{
        padding: 0;
    }
}

@media screen and (max-width:922px) {
    .container-about{
        display: inline;
        padding: 40px;
    }

    .card-container{
        padding: 0;
        margin-top: 10px;
    }

    .about{
        padding: 10px;
    }
    .main{
        padding: 10px;
    }
}

@media screen and (max-width:650px){
    .hero{
        height: 250px;
    }

    .nav-logo{
        display: block;
        width: 64px;
    }
    .banner-top .left{
        display: none;
    }
    
    .left-content img{
        float: left;
        width: 250px;
    }
    .about{
        padding:10px;
    }

    .card-container{
        margin-top: 10px;
        padding: 0;
    }

    .card{
        grid-column: span 3;
    }
}